<%-include("partials/header")-%>

<body>
  <h1 style="font-family:cursive">Tushar khanna</h1>
  <span style="font-family:cursive">phn-9630974687</span>
  <h1 style="font-family:cursive">Vikram  ]singh</h1>
  <span style="font-family:cursive">phn-6387292551</span>

</body>
