<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


 <title>COVID LOGIN</title>

   <!-- <link rel="canonical" href="https: getbootstrap.com/docs/4.0/examples/sign-in/"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
<script src="main.js" charset="utf-8"></script>
  <link href="css/style.css" rel="stylesheet">

</head>
<body class='medico'>

<h1 class='head1'>COVID-19 patient Tracker Management System</h1>

<section >


 <div class="container">
   <div class="form">


    <form class="form-signin login" action="/" method="post">


      <label for="" class ="email"><h1>Email address</h1></label>
      <input type="Email" class="form-control last" name="email" placeholder="email address" >
      <label for="">Password</label>
      <input type="password" class="form-control last" name="password" value="" placeholder="password">

      <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>

    </form>


    </div>


    </div>
    </section>
  </body>

</html>
